.hidden {
    display: none;
}

.dropdown-menu {
    background: none;
    border: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    right: 1em;
    cursor: pointer;
    color: white;
}

.user-container,
.profile-container {
    box-shadow: 0 0 3px grey;
    border-radius: 3px;
    width: 10rem;
    right: 10px;
    position: absolute;
    background-color: #7DA367
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    font-size: .95rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
}   




.dropdown-button {
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-button:hover {
    text-decoration: underline;
}

#manageSpots {
    font-family: 'Montserrat', sans-serif; 
    color: white;
    border: none;
    cursor: pointer;
    background: none;
    font-size: .95rem;
    width: 7rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#logoutButton {
    cursor: pointer;
    border-radius: 25px;
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: #FF385C;
    color: white;
    transition: background-color 0.3s;
}

#logoutButton:hover {
    background-color: darkgrey;
}