@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
}

html, body {
    overflow-x: hidden;
}
#root {
    flex: 1;
    margin: 0;
    background: linear-gradient(#9BDE7E, #006837) !important;
}

.auth-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    padding: 3rem; 
    font-family: 'Montserrat', sans-serif;
    color: #F7F7F7;
}

.auth-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.auth-input label {
    margin-bottom: 10px;
    font-weight: 400;
}

.auth-input input {
    padding: 1rem;
    width: 95%;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    font-family: 'Montserrat', sans-serif;
}


.auth-button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 1px solid #004d00; 
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    background-color: #9BDE7E;
}

.auth-button:hover {
    background-color: #b0b0b0;
    color: #ffffff;
}

#signup-link {
    cursor: pointer;
    transition: color 0.2s;
}

#signup-link:hover {
    color: #b0b0b0;
}

.title {
    font-family: 'Lora', serif;
    font-weight: 700; /* Bold */
    font-size: 2.5rem;
    color: white;
}